# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type Checking
.mypy_cache/

# Ruff
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build
dist/
build/
*.egg-info/

# Docker
*.pid

# MLflow
mlruns/

# Airflow
airflow.db
logs/

# Local Database
*.db